<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
    <link rel="stylesheet" href="/public/css/main.css">
</head>
<body>
    <div class="maintopnav">
        <a href="home" id="mainducklingdecorhome">Duckling Décor</a>
        <input type="text" placeholder="Search...">
        <button type="button">Sign In</button>
    </div>
    

    {{{body}}}
    <p>test 1</p>
</body>
</html>